
<table>
  <tr>
      <th id="first-row-left">
        <div *ngIf = "this.match.CurrentSet.WhichPlayerServing == true;else elseBlock4">
          <div style ='background: orange'>Player 1</div>
        </div>
        <ng-template #elseBlock4>Player 1</ng-template>
      </th>
      <th>Set</th>
      <th id="first-row-right">
        <div *ngIf = "this.match.CurrentSet.WhichPlayerServing == false;else elseBlock5">
          <div style ='background: orange'>Player 2</div>
        </div>
        <ng-template #elseBlock5>Player 2</ng-template>
      </th>
  </tr>
  <tr>
      <td>{{this.match.AllSets[0].Team1Games}}</td>
      <td><div *ngIf = 'this.match.WhichSet == 0; else elseBlock1'>
        <div style='background: orange'>1</div>
        </div>
      <ng-template #elseBlock1>1</ng-template>
      </td>
      <td>{{this.match.AllSets[0].Team2Games}}</td>
  </tr>
  <tr>
      <td>{{this.match.AllSets[1].Team1Games}}</td>
      <td><div *ngIf = 'this.match.WhichSet == 1; else elseBlock2'>
        <div style='background: orange'>2</div>
        </div>
      <ng-template #elseBlock2>2</ng-template>
      </td>
      <td>{{this.match.AllSets[1].Team2Games}}</td>
  </tr>
  <tr>
      <td>{{this.match.AllSets[2].Team1Games}}</td>
      <td><div *ngIf = 'this.match.WhichSet == 2; else elseBlock3'><div style='background: orange'>3</div></div>
     <ng-template #elseBlock3>3</ng-template>
      </td>
      <td>{{this.match.AllSets[2].Team2Games}}</td>
  </tr>
  <tr>
      <td id="last-row-left">{{this.match.CurrentSet.CurrentGame.Team1TiebreakScore}}</td>
      <td>Tiebreak</td>
      <td id="last-row-right">{{this.match.CurrentSet.CurrentGame.Team2TiebreakScore}}</td>
  </tr>
</table>
 
 <div class="row">
  <div  class = "container column" (click)="incrementPoint1()">
    &nbsp;<img class="scorer" src="https://c7.uihere.com/files/65/414/530/tennis-balls-racket-clip-art-simple-tennis-ball-png-thumb.jpg">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4 class="score" >{{this.match.CurrentSet.CurrentGame.Team1PointsDisplay}}</h4>
  </div>

  <div class = "container column" (click)="incrementPoint2()">
  <img img class="scorer"
  src="https://c7.uihere.com/files/65/414/530/tennis-balls-racket-clip-art-simple-tennis-ball-png-thumb.jpg" >
    <h4  class="score" >{{this.match.CurrentSet.CurrentGame.Team2PointsDisplay}} </h4>
  </div>
 </div>

 <div (click)="resetButton()">    
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reset</h4>
  </div>

 <h1>{{winnerText}}</h1>
 <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>
